<header>
  <nav class='header-nav'>
    <a class='header-title' href="/">MAIN</a>
    <ul>
      <li><a href="/employers">Employers</a></li>
      <li><a href="/employers/new">Add Employer</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/jobs/new">Add Job</a></li>
    </ul>
  </nav>
</header>