<header>
  <nav>
    <ul>
    <li><a href="/">MAIN</a></li>
    <li><a href="/jobs">JOBS</a></li>
    <li><a href="jobs/new">ADD JOBS</a></li>
    <li><a href="resorts">RESORTS</a></li>
    <li><a href="countries">COUNTRIES</a></li>
    </ul>
  </nav>
</header>