<header>
  <nav>
    <ul>
    <li><a href="/">MAIN</a></li>
    <li><a href="/employers">Employers</a></li>
    <li><a href="/employers/new">Add Employer</a></li>
    <li><a href="/jobs">Jobs</a></li>
    <li><a href="/jobs/new">Add new Job</a></li>
    </ul>
  </nav>
</header>