<h2 class='page-header'>CREATE NEW employer</h2>

<form action="/employers" method="POST">
  <%- include('_form_fields')%>
  <a href="/employers">BACK TO EMPLOYERS LIST</a>

  <button type="submit">Create</button>
</form>

