<h2 class='page-header'>CREATE NEW employer</h2>

<form action="/employers" method="POST">
  <div class="new-employer-field">
   <%- include('_form_fields')%>
  </div>
  <div class='btn-row'>
    <a class='btn btn-primary' href="/employers">Back</a>
    <button class='btn btn-primary' type="submit">Create</button>
  </div>
</form>

