<h2 class='page-header'>Edit Job</h2>

<form action="/jobs/<%= job.id %>?_method=PUT" method="POST">
  <%- include('_form_fields')%>
  <br>
  <div class='btn-row'>
  <a class='btn-primary btn'class='btn-primary btn'href="/jobs">BACK TO JOB LISTINGS</a>
  <br>
  <button class='btn-primary btn' type="submit">Update</button>
  </div>
</form>

