<h2 class='page-header'>Job Listings</h2>

<form action="/jobs" method="GET">
<div>
<div class="job-search-fields form-row">
<div class='form-item'>
<label for="title">Job Title</label>
<input type="text" name="title" value="<% searchOptions.title %>">
</div>
<div class='form-item'>
<label for="employer">Employer</label>
<select class='form-item' name="employer">
  <option label="" ></option>
<% employers.forEach(employer => { %>
  <option label="<%= employer.name %>" value="<%= employer.id %>">
<% }) %>
</select>
</div>
<div class="form-item" style='width:100px;align-self:flex-end;'>
<button style='text-align:center;' class='btn-primary btn' type="submit">Search</button>
</div>
</div>
</form>

<% jobs.forEach(job => { %>
  <%-include('../partials/jobBox', {job: job}) %>
<% }) %>