<h2>Job Listings</h2>

<form action="/jobs" method="GET">
<label for="title">Job Title</label>
<input type="text" name="title" value="<% searchOptions.title %>">

<select name="employer">
  <option label="" value=""></option>
<% employers.forEach(employer => { %>
  <option label="<%= employer.name %>" value="<%= employer.id %>">
<% }) %>
</select>
<button type="submit">Search</button>

</form>

<br>
<% jobs.forEach(job => { %>
  <div>EMPLOYER NAME HERE <br>  <%= job.title %> <br> $<%= job.wage %>/hour </div>
<% }) %>