<h2 class='page-header'>POST NEW JOB</h2>

<form class='new-job-form' action="/jobs" method="POST">
  <%- include('_form_fields')%>

  <div style="padding-right:0.4rem;" class='btn-row'>
  <button class='btn btn-primary' type="submit">Post</button>
  <a class='btn btn-primary' href="/jobs">Back to jobs</a>
  </div>
</form>