<h2 class='page-header'>POST NEW JOB</h2>

<form action="/jobs" method="POST">
  <%- include('_form_fields')%>
  <br>
  <div class='btn-row'>
  <button class='btn btn-primary' type="submit">Submit</button>
  <br>
  <a class='btn btn-primary' href="/jobs">Back to job listings</a>
  </div>
</form>