<h2>View Job</h2>

<div>
  Job Title: <%= job.title %> 
  Employer: <%= employer.name %>
  <br>
  <a href="/jobs/<%= job.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', {url: `/jobs/${job.id}` }) %>
</form>

<a href="/jobs">BACK TO JOB LISTINGS</a>
